<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFYculxQNtsUvHVgbdlaEPBytSpgCjWVw</string>
	<key>GCM_SENDER_ID</key>
	<string>12532074830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appvidalonga.dev</string>
	<key>PROJECT_ID</key>
	<string>vidalonga-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>vidalonga-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12532074830:ios:d97527ad4c470cbc2cf61f</string>
</dict>
</plist>